.Todo {
  font-size: 1rem;
  margin-right: 1.5rem;
}
.TodoDone {
  margin-right: 1.5rem;
  text-decoration: line-through;
}

.icons {
  display: flex;
  width: 20%;
  justify-content: space-between;
}

.icon {
  width: 2rem;
  height: 2rem;
  transition: all 0.2s;
}

.icon:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.icon:focus {
  cursor: pointer;
  transform: translateY(-5px);
}

.date {
  font-size: 10px;
  color: gray;
}

.card {
  text-align: center;
}
.check {
  color: green;
}
.delete {
  color: red;
}

.arrow:hover {
  cursor: pointer;
  transform: translateX(5px);
}

.arrow:focus {
  cursor: pointer;
  transform: translateX(5px);
}

.pencil {
  color: yellowgreen;
}

.pencil:hover {
  cursor: pointer;
  transform: rotate(-35deg);
}
