.Todo {
    font-size: 1rem;
    margin-right: 1.5rem;
}
.TodoDone {
    margin-right: 1.5rem;
    text-decoration: line-through;
}

.icons {
    display: flex;
}

.icon {
    width: 2rem;
    height: 2rem;
}

.icon:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

.icon:focus {
    cursor: pointer;
    transform: translateY(-2px);
}