.icon {
  width: 2rem;
  height: 2rem;
}

.editInput {
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  border: black solid 2px;
  background-color: rgba(255, 228, 196, 0.071);
  border: none;
}
