form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    margin-top: 2rem;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 1rem;
}

input {
    color: black;
    border-style: none;
    width: 80%;
    font-size: 1rem;
    outline: none;
    border-bottom: 2px solid black;
}

.addIcon {
    width: 2rem;
    height: 2rem;
}

.addIcon:hover {
    cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
  }
  button {
    background: none;
    border: none;
  }

